{
    "tabWidth": 2,
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [{
            "files": [
                "*.json",
                ".eslintrc",
                ".tslintrc",
                ".prettierrc",
                ".tern-project"
            ],
            "options": {
                "parser": "json",
                "tabWidth": 2
            }
        },
        {
            "files": "*.{css,sass,scss,less}",
            "options": {
                "parser": "postcss",
                "tabWidth": 4
            }
        },
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.tsx",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}