@import '../../../style/mixin';
p {
    @include font(1rem, 120%);
    height: 2.5rem;
    padding: 0.3rem;
}

h4 {
    height: 1.6rem;
    background-color: $grey;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
}

.van-list {
    overflow: scroll;
    height: calc(100vh - 16rem);
}

.van-cell {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex: none;
    height: 3.5rem;
    @include font(1rem, 120%);
    svg {
        @include iconSize(2.6rem);
        margin-right: 1rem;
    }
}