@import '../../../style/mixin';
p {
    font-size: 50%;
    margin: 0.2rem 0 0 0;
    color: grey;
}

.headerIcon {
    margin: 0 1rem 0;
}

.active {
    color: $font;
}

.router-link-active {
    text-decoration: none;
}

a {
    text-decoration: none;
    box-sizing: border-box
}