@import '../../../style/mixin';
.habit {
    box-sizing: border-box;
    margin: 1.5rem 0;
    aside {
        height: 100%;
        background-color: $warn;
        width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $font-o;
        font-weight: bold;
    }
    .edit {
        background-color: $edit;
    }
}

.habitList {
    margin: 0.5rem 0;
}

.listGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCell {
    border: solid;
    width: 95%;
    border-width: 0.08rem;
    justify-content: space-between;
    align-items: center;
    @include font(1.2rem, 1rem);
    svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    span {
        display: inline-block;
        transform: translateY(-35%);
        @include font(1.2rem, 1rem);
    }
}