@import '../../../style/mixin';
svg {
    @include iconSize(5rem);
}

.button {
    width: 80%;
    height: 3rem;
    background-color: $edit;
    color: #fff;
    position: relative;
    top: 5rem;
}

.van-cell {
    height: 3.5rem;
    display: flex;
    text-align: left;
    justify-content: space-between;
    @include font(1rem);
}

.field {
    width: 100%;
    margin: 0 auto;
    text-align: text;
    overflow: hidden;
}

.van-popup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
        margin-top: -3rem;
        @include font(0.8rem);
    }
    aside {
        display: inherit;
        justify-content: space-around;
        flex: none;
        flex-wrap: wrap;
        width: 60vw;
        height: 70vh;
    }
    .van-button {
        width: 80%;
        height: 3rem;
        background-color: $edit;
        color: #fff;
    }
}

.icon {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    .cir {
        border-radius: 50%;
        border: solid black 2px;
        overflow: hidden;
        svg {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }
}